body {
    background: #d9dad5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, black, #31555f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, black, #31555f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.schibsted-grotesk {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.mooli-regular {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-style: italic;
    font-family: "Rubik", sans-serif;
}

h6 {
    font-family: "Rubik", sans-serif;
}

nav {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    position: relative;
    padding-top: 50px;
    z-index: 1;
}

@media (max-width: 992px) {
    #menuNav {
        position: static;
        max-height: 60vh;
        overflow-y: auto;
        width: 100%;
        background: linear-gradient(to right, black, #31555f);
        padding: 10px 0;
        z-index: 1000;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav li {
        margin: 5px 0;
    }
}

.contenedornav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    background: linear-gradient(to right, black, #31555f);
    z-index: -1;
    padding-left: 50px;
    padding-right: 50px;
    height: 150px;
}

@media (max-width: 992px) {
    .contenedornav {
        height: auto !important;
        flex-direction: column;
        align-items: stretch;
    }
}

.micontainer {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    color: rgba(126, 167, 222, 0.938);
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgba(126, 167, 222, 0.938);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 12px;
}

.botoncontenidocontacto {
    color: rgba(126, 167, 222, 0.938);
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid rgba(126, 167, 222, 0.938);
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
}

.micontainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-style: italic;
    margin-right: 30px;
    margin-left: 30px;
}

.micontainer3 {
    display: flex;
    position: relative;
    left: auto;
    align-items: center;
    justify-content: right;
    color: rgba(126, 167, 222, 0.938);
    font-size: 20px;
    padding: 0px;
    border: 2px solid rgba(126, 167, 222, 0.938);
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
}

.micontainer4 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    width: 150px;
    text-decoration: none !important;
    justify-content: center;
}

.borderadiobotones {
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    width: max-content;
}

.borderadiobotones:hover {
    border: 2px solid rgba(126, 167, 222, 0.938);
    border-radius: 5px;
}

.fondoimagen {
    background-image: url(Imagenes/Promaiz\ 5.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    opacity: 1;
}

.tituloprincipal {
    position: relative;
    top: 100%;
    left: 5%;
    transform: translateY(-250%);
    z-index: 0;
    overflow: hidden;
    color: rgb(232, 219, 35);
    width: fit-content;
    padding: 30px;
    border-radius: 20px;
    max-width: 90%;
    right: auto;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .tituloprincipal {
        transform: translateY(-180%);
    }
}

.tituloprincipal::before {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accesoimagen {
    position: relative;
    top: 70%;
    bottom: 0%;
    left: 85%;
    right: 0%;
    transform: translateY(0%);
    z-index: 1;
    overflow: hidden;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 2%;
    max-width: 90%;

    box-sizing: border-box;
    font-style: italic;
}

@media (max-width: 992px) {
    .accesoimagen {
        top: 70%;
        left: 50%;
    }
}

.accesoimagen::before {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 10%;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fondoimagen2 {
    background-image: url(Imagenes/Hexagonos.avif);
    background-size: contain;
    background-repeat: repeat-y;
    opacity: 1;
}

.fondoimagen3 {
    background-image: url(Imagenes/Hexagonos.avif);
    background-size: 100%;
    background-position: unset;
    background-repeat: no-repeat;
    opacity: 1;
    height: 100%;
}

.fondoimagen4 {
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    position: relative;
    z-index: 1;
    transition: margin-top 0.4s ease;
}

.fondoimagen4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Imagenes/Data-Analyst.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    /* Ajustá el nivel de transparencia */
    z-index: -1;
    /* Lo pone detrás del contenido */
}

.containerdebotones{
    overflow-y: scroll;
    max-height: 300px;
    margin-right: 0px !important;         
}

.contacto {
    float: right;
}

.cajanegra {
    background-color: black;
}

.botonicono {
    height: 150px;
    width: 150px;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-linkedin {
    font-size: 65px;
    color: #31555f;
}

.fa-envelope {
    font-size: 65px;
    color: #31555f;
}

.fa-whatsapp {
    font-size: 65px;
    color: #31555f;
}

.botonicono img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.iconosnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.colorlinea {
    color: rgba(126, 167, 222, 0.938);
    size: 300px;
    top: 135px;
    position: sticky;
    z-index: 10000;
}

.infopersonal {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulosecundario {
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 1;
    overflow: hidden;
    color: rgb(232, 219, 35);
    width: 100%;
    padding: 30px;
    border-radius: 1%;
    max-width: 100%;
    right: auto;
    box-sizing: border-box;
}

.titulosecundario::before {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

.infopersonal2 {
    border-top-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cajabotones {
    margin-bottom: 50px;
    margin-top: 50px;
}

.negritacursiva {
    font-weight: bold;
    font-style: italic;
    color: black;
}

.negritacursiva2 {
    font-weight: bold;
    font-style: italic;
    color: black;
}

.letrafija {
    color: rgba(201, 222, 248, 0.938);
    font-size: 16px;
    font-style: italic;
}

.letraclara {
    color: rgba(201, 222, 248, 0.938);
    float: left;
    font-size: 20px;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    position: relative;
    font-family: "Rubik", sans-serif;
}

.letraclara::before {
    content: none;
}

.letraamarilla {
    color: rgb(232, 219, 35);
    font-size: 32px;
    text-align: left;
}

.letranegra {
    color: rgba(126, 167, 222, 0.938);
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    font-family: "Rubik", sans-serif;
    padding-left: 0px;
}

.letranegra:hover {
    color: rgba(201, 222, 248, 0.938);
}

.letranegra:active {
    color: rgba(201, 222, 248, 0.938);
}

.letranegra {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

.letrafooter {
    color: rgba(201, 222, 248, 0.938);
    font-size: 10px;
    width: 100%;
    text-shadow: 1px 1px 2px rgb(63, 78, 78);
    position: relative;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.row {
    align-items: center;
    text-align: left;
    height: 100%;
}

#notapersonal {
    margin-top: 30px;
}

p {
    padding-left: 0px;
    padding-right: 0px;
    font-style: italic;
}

footer {
    text-align: right;
}

img {
    border: 1px solid black;
}

.fondoboton {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.fondoboton::before {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: rgba(126, 167, 222, 0.938);
    font-family: "Rubik", sans-serif;
}

.fondocajabotones {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.fondocajabotones::before {
    content: "";
    position: absolute;
    background-color: white;
    opacity: 0.1;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.class1 {
    color: rgba(201, 222, 248, 0.938);
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

.class2 {
    color: rgba(201, 222, 248, 0.938);
    text-align: left;
    font-style: italic;
}

.class3 {
    color: rgba(201, 222, 248, 0.938);
    text-align: justify;
}

.class4 {
    text-align: left;
    text-decoration: underline;
}

.container ul, .col-md-12 ul, .class2 {
    display: block;
    flex-direction: unset;
    padding-left: 15px;
}

li {
    list-style-type: none;
}

.visible {
    padding: 1rem;
    height: 700px;
    opacity: 1;
    transition: 0.2s all linear;
}

.oculto {
    opacity: 0;
    height: 0px;
}

.formulariocontacto {
    height: 800px;
    width: 800px;
    margin-left: 200px;
    font-style: italic;
}

.submenu:hover {
    display: block;
}

.submenu {
    display: none;
    min-width: 140px;
}

@media (max-width: 992px) {
    .navbar-collapse.show+.fondoimagen {
        margin-top: 300px;
        /* Ajustá este valor al alto del menú desplegado */
    }
}

.botonacceso {
    background: none;
    font-style: italic;
    text-decoration: none;
    border: none;
    font-size: 16px;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    width: max-content;
}

.botonacceso:hover {
    border: 2px solid rgba(201, 222, 248, 0.938);
    border-radius: 5px;
}

.botonacceso2 {
    background: none;
    font-style: italic;
    text-decoration: none;
    border: none;
    position: absolute;
    bottom: 15px;    
    left: 5%;
    font-size: 16px;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    width: max-content;
}

.botonacceso2:hover {
    border: 2px solid rgb(232, 219, 35);
    border-radius: 5px;
}

.lineadiv {
    border: 0px;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, rgba(126, 167, 222, 0.938), black);
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 100;
    position: relative;
}

.lineadiv2 {
    border: 0px;
    height: 1px;
    width: 90%;
    background: linear-gradient(to right, rgba(126, 167, 222, 0.938), black);
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 100;
    position: relative;
}

.cuadroproyectosingenieria {
    background-image: url(Imagenes/Promaiz3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px !important;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.cuadroproyectosingenieria:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.cuadroproyectosprogramacion {
    background-image: url(Imagenes/programacion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px !important;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.cuadroproyectosprogramacion:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.cuadroproyectosanalisis {
    background-image: url(Imagenes/analyst\ data.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px !important;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.cuadroproyectosanalisis:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.textoproyectos {
    background-color: transparent;
    font-size: 32px;
    color: rgba(201, 222, 248, 0.938);
    text-align: center;
}

.link-proyecto {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.link-proyecto:hover {
    cursor: pointer;
}

.cuadroproyectosanalisis2 {
    overflow: hidden;  /* recorta lo que sobresale */
    position: relative;
}

#div1, #div2, #div3, #div4, #div5, #div6 {
    scroll-margin-top: 200px;
}

#div1 {
    position: relative;
}

#div1::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Imagenes/Aristeo2.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 2000px;
    opacity: 0.03;
    z-index: 0;
}

#div1 > * {
    position: relative;
    z-index: 1;
}

#div2 {
    position: relative;
}

#div2::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Imagenes/agd_blancoynegro.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2500px;
    opacity: 0.02;
    z-index: 0;
}

#div2 > * {
    position: relative;
    z-index: 1;
}

#div3 {
    position: relative;
}

#div3::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Imagenes/agd_blancoynegro.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2500px;
    opacity: 0.02;
    z-index: 0;
}

#div3 > * {
    position: relative;
    z-index: 1;
}

#div4 {
    position: relative;
}

#div4::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Imagenes/agd_blancoynegro.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2500px;
    opacity: 0.02;
    z-index: 0;
}

#div4 > * {
    position: relative;
    z-index: 1;
}

#div5 {
    position: relative;
}

#div5::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Imagenes/promaiz_blancoynegro2.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2500px;
    opacity: 0.05;
    z-index: 0;
}

#div5 > * {
    position: relative;
    z-index: 1;
}

#div6 {
    position: relative;
}

#div6::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1000px;
    opacity: 0.5;
    z-index: 0;
}

#div6 > * {
    position: relative;
    z-index: 1;
}

#proy_ing_1 {
    position: relative;
}

#proy_ing_1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url('./Imagenes/l350.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1200px;
    opacity: 0.1;
    z-index: 0;
}

#proy_ing_1 > * {
    position: relative;
    z-index: 1;
}

.galeria-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none;
    white-space: nowrap;
}

.galeria-scroll img {
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
    display: block;
    transition: transform 0.3s ease;
}

.galeria-scroll img:hover {
    transform: scale(1.03);
}

.galeria-container{
    position: relative;
    display: flex;
    align-items: center;
}

.galeria-btn{
    position: absolute;
    z-index: 10;
    background: #edf5f8;
    color: #31555f;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.galeria-btn:hover{
    background: rgba(0,0,0,0.8);
    color: #edf5f8;
}

.izquierda{
    left: 10px;
}

.derecha{
    right: 10px;
}
